<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div class="note-content" th:fragment="note-edit-content">
    <div class="note-content-header pure-g">
        <div class="pure-u-1-2">
            <h1 class="note-content-title">Hello from Toronto</h1>
            <p class="note-content-subtitle">
                At <span>3:56pm, April 3, 2012</span>
            </p>
        </div>
        <div class="note-content-controls pure-u-1-2">
            <button class="secondary-button pure-button" id="note-add"><a th:href="@{/notes/edit}">新增</a>
            </button>
            <button class="secondary-button pure-button">移动至</button>
        </div>
    </div>

    <form method="post" action="">
        <div class="note-content-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="card-header">
                <h3 class="card-title">发布文章</h3>
                <hr/>
            </div>
            <div class="form-group" style="display:flex;">
                <label for="notebookId"></label>
                <select class="form-control select2" style="width: 100%;"
                                                        id="notebookId"
                                                        data-placeholder="请选择分类...">
                    <th:block th:if="${null == categories}">
                        <option value="0" selected="selected">默认分类</option>
                    </th:block>
                    <th:block th:unless="${null == categories}">
                        <th:block th:each="c : ${categories}">
                            <option th:value="${c.categoryId}"
                                    th:text="${c.categoryName}"
                                    th:selected="${null !=blog and null !=blog.blogCategoryId and blog.blogCategoryId==c.categoryId} ?true:false">
                                >
                            </option>
                        </th:block>
                    </th:block>
                </select> &nbsp;&nbsp;
                <label for="blogCategoryId"></label>
                <select class="form-control select2" style="width: 100%;"
                                                            id="blogCategoryId"
                                                            data-placeholder="请选择分类...">
                    <th:block th:if="${null == categories}">
                        <option value="0" selected="selected">默认分类</option>
                    </th:block>
                    <th:block th:unless="${null == categories}">
                        <th:block th:each="c : ${categories}">
                            <option th:value="${c.categoryId}"
                                    th:text="${c.categoryName}"
                                    th:selected="${null !=blog and null !=blog.blogCategoryId and blog.blogCategoryId==c.categoryId} ?true:false">
                                >
                            </option>
                        </th:block>
                    </th:block>
                </select>
            </div>
            <!-- 编辑器 -->
            <div class="form-group" id="blog-editormd">
                <label>
                    <textarea></textarea>
                </label>
            </div>
        </div>
    </form>
</div>
</html>















