<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<!-- 导航 -->
<div id="nav" class="pure-u" th:fragment="aside-nav">
    <a href="javascript:void(0);" class="nav-menu-button">Menu</a>
    <div class="nav-inner">
        <button class="primary-button pure-button">DIMPLES</button>

        <div class="pure-menu">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="javascript:void(0);" class="pure-menu-link">文件夹一
                    <span class="note-count">(2)</span></a></li>
                <li class="pure-menu-item"><a href="javascript:void(0);" class="pure-menu-link">文件夹二</a>
                </li>
                <li class="pure-menu-item"><a href="javascript:void(0);" class="pure-menu-link">文件夹三</a>
                </li>
                <li class="pure-menu-heading">分类</li>
                <li class="pure-menu-item"><a href="javascript:void(0);" class="pure-menu-link"><span
                        class="note-label-personal"></span>学习</a></li>
                <li class="pure-menu-item"><a href="javascript:void(0);" class="pure-menu-link"><span
                        class="note-label-work"></span>工作</a></li>
                <li class="pure-menu-item"><a href="javascript:void(0);" class="pure-menu-link"><span
                        class="note-label-travel"></span>杂记</a></li>
            </ul>
        </div>
    </div>
</div>
</html>






