<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人笔记</title>
    <link rel="icon" th:href="@{/img/logo_zhongyj.png}"/>

    <link rel="stylesheet" th:href="@{/note/css/note-base.css}">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">

    <!-- highlight -->
    <link rel="stylesheet" th:href="@{/blog/plugins/highlight/styles/paraiso-light.css}">

    <link rel="stylesheet" th:href="@{/note/css/note.css}">

    <style>
        .hljs {
            background: none;
        }

        pre code {
            white-space: pre;
        }

        blockquote {
            border-left: 4px solid #42b983;
            padding: 10px 0 10px 15px;
            color: #777;
            background-color: rgba(66, 185, 131, .1);
            max-width: 890px;
        }
    </style>
</head>
<body>
<!-- 搜索框 -->
<form id="full-search">
    <label for="full-search-text"></label>
    <input type="text" id="full-search-text" placeholder="好记性不如烂键盘" name="search">
</form>

<div id="layout" class="content pure-g">
    <!-- 导航 -->
    <div th:replace="notes/note-aside::aside-nav"></div>

    <!-- 笔记详情列表 -->
    <div th:replace="notes/note-aside::aside-list"></div>

    <!-- 笔记内容 -->
    <div id="main" class="pure-u-1">
        <div class="note-content" th:fragment="note-content">
            <div class="note-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="note-content-title">Hello from Toronto</h1>
                    <p class="note-content-subtitle">
                        At <span>3:56pm, April 3, 2012</span>
                    </p>
                </div>
                <div class="note-content-controls pure-u-1-2">
                    <button class="secondary-button pure-button" id="note-edit"><a th:href="@{'/notes/edit/' + ${noteDetail.id}}">编辑</a></button>
                    <button class="secondary-button pure-button" id="note-add"><a th:href="@{/notes/add}">新增</a></button>
                    <button class="secondary-button pure-button">移动至</button>
                </div>
            </div>

            <div class="note-content-body container">
                <div class="am-g am-g-fixed blog-fixed">
                    <div class="am-u-lg-12 am-u-sm-12">
                        <article class="am-article blog-article-p article-trigger">
                            <div id="post-content" class="am-article-bd article-body">
                                <th:block th:utext="${noteDetail.noteContent}"/>
                                <hr>
                                <aside class="blog-rights clearfix">
                                    <p>
                                        本站文章除注明转载/出处外，皆为作者原创，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文连接，否则保留追究法律责任的权利。</p>
                                </aside>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 移动设备底部导航，默认隐藏 -->
<nav th:replace="notes/note-aside::aside-mobile-bottom-nav"></nav>
</body>

<script src="https://yui-s.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- markdown 解析 -->
<script th:src="@{/blog/default/js/jquery.min.js}"></script>
<script th:src="@{/blog/plugins/highlight/highlight.pack.js}"></script>

<script th:src="@{/note/js/note-index.js}"></script>
<script>

    $(function () {
        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });

        $('article h1, article h2, article h3, article h4, article h5').find('a').removeAttr('target')
    });

    YUI().use('node-base', 'node-event-delegate', function (Y) {

        var menuButton = Y.one('.nav-menu-button'),
            nav = Y.one('#nav');

        // Setting the active class name expands the menu vertically on small screens.
        menuButton.on('click', function () {
            nav.toggleClass('active');
        });

        // Your application code goes here...

    });
</script>
</html>



















